# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might be created under certain enclosures
.Spotlight-V100
.Trashes

# Folder config file
Desktop.ini

# Filesystem/Metadata
.fseventsd

# Project specific ignores
NYPL-menus/
Project\ Instructions/